{% extends "base.html" %}

{% block content %}

<h2 style="color: white;">KPI Name: {{ label }} (Data Period :Apr-Nov'25)</h2>
<h3 style="color: white">Alignment of KPI with Business Objective: Increase Warehouses & Reduce SCM TAT to 2-4 days (PAN India)</h3>
<!-- <h4>Sales Order to Invoice Completion (O2C)</h4> -->

<!-- <hr> -->

<!-- KPI SUMMARY -->
<!-- <div class="kpi-container">
  {% for key, value in summary.items() %}
    <div class="kpi-card">
      <div class="kpi-value">{{ value }}</div>
      <div class="kpi-label">
        {{ key.replace('_',' ').title() }}
      </div>
    </div>
  {% endfor %}
</div>

<hr> -->

<!-- CHARTS -->
{% if charts %}
  <div class="chart-grid">

    {% if charts.chart_0 %}
      <div class="chart-card">
        <h3>Shipment Completion Status</h3>
        {{ charts.chart_0 | safe }}
      </div>
    {% endif %}

    {% if charts.chart_1 %}
      <div class="chart-card">
        <h3>Order to Invoice (O2C) Cycle Time</h3>
        {{ charts.chart_1 | safe }}
      </div>
    {% endif %}

  </div>
{% endif %}
<h3 style="color: white">Observation: Out of 371 orders, 71.39% of Sales Orders had Shipments created within 7 days, 79.29% within 14 days, 98.37% within 30 days, and 99.73% within 60 days.</h3>
<div style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
">

    <h2 style="color:white; margin: 0;">KPI data in Table</h2>

    <div>
        <a href="javascript:history.back()" 
           style="
               background:#ffffff;
               color:#003d99;
               padding:8px 16px;
               border-radius:8px;
               font-weight:600;
               text-decoration:none;
               margin-right:10px;
               box-shadow:0 2px 5px rgba(0,0,0,0.15);
           ">
           ← Back
        </a>

        <a href="/download/{{ kpi_id }}" 
           style="
               background:#ffffff;
               color:#003d99;
               padding:8px 16px;
               border-radius:8px;
               font-weight:600;
               text-decoration:none;
               box-shadow:0 2px 5px rgba(0,0,0,0.15);
           ">
            ⬇ Download Excel
        </a>
    </div>

</div>

<hr>   


<!-- TABLE -->
{% if table_html %}
  <div class="table-wrapper">
    {{ table_html | safe | replace('O2C Cycle Days', 'No of Days') | replace('Completely_Shipped', 'Completely Shipped') | replace('Final Invoice Date', 'Shipment Creation Date')}}
  </div>
{% endif %}

<a href="/departments">← Back</a>

{% endblock %}
